[submodule "tgbot-cpp"]
	path = tgbot-cpp
	url = https://github.com/reo7sp/tgbot-cpp.git
[submodule "SQLiteCpp"]
	path = SQLiteCpp
	url = https://github.com/SRombauts/SQLiteCpp.git
[submodule "TinyLog"]
	path = TinyLog
	url = https://github.com/Pugnator/TinyLog.git
